$icon-size: 32;
$assets-2x: url("/assets/assets-2x.png");
$loading-bar: url("/assets/sprite-loading-bar.png");
$box: url("/assets/sprite-white-box.png") 12 fill round;
$input-1: url("/assets/sprite-input-1.png") 12 fill round;
$button-green-1: url("/assets/sprite-green-button-1.png") 15 fill round;
$button-green-2: url("/assets/sprite-green-button-2.png") 15 fill round;
$seperator: url("/assets/sprite-seperator.png") 2 fill round;

@mixin sprite {
  image-rendering: crisp-edges !important;
}

@mixin assets {
  @include sprite;
  background-image: $assets-2x;
  background-repeat: no-repeat;
}

@mixin icon {
  @include assets;
  width: #{$icon-size}px !important;
  height: #{$icon-size}px !important;
  font-style: normal !important;
  display: inline-block !important;
}

@mixin icon-position($x, $y) {
  background-position: #{$icon-size * -$x}px #{$icon-size * -$y}px;
}

@mixin icon-mixin($x, $y) {
  &::after {
    content: "";
    @include icon;
    @include icon-position($x, $y);
  }
}

.avatar-circle {
  @include assets;
  width: 48px;
  height: 48px;
  background-position: 0px -106px;
}

.arrow {
  @include assets;
  width: 14px;
  height: 14px;
  position: absolute;
  display: block;

  &.arrow-top {
    top: -16px;
    left: 50%;
    background-position: -14px -78px;
    transform: scaleY(-1) translate(-50%);
  }

  &.arrow-bottom {
    bottom: -16px;
    left: 50%;
    background-position: -14px -78px;
  }

  &.arrow-left {
    top: 50%;
    left: -16px;
    transform: translateY(-50%);
    background-position: 0px -78px;
  }

  &.arrow-right {
    top: 50%;
    right: -16px;
    background-position: 0px -78px;
    transform: scaleX(-1) translateY(-50%);
  }

  &.arrow-top-left {
    top: -14px;
    left: -16px;
    background-position: 0px -64px;
  }

  &.arrow-top-right {
    right: -16px;
    top: -14px;
    background-position: 0px -64px;
    transform: scaleX(-1);
  }

  &.arrow-bottom-right {
    right: -16px;
    bottom: -12px;
    background-position: -14px -64px;
    transform: scaleX(-1);
  }

  &.arrow-bottom-left {
    left: -16px;
    bottom: -12px;
    background-position: -14px -64px;
  }
}

.icon {
  @include icon;

  &.icon-magnifier {
    @include icon-position(0, 0);
  }

  &.icon-clock {
    @include icon-position(1, 0);
  }

  &.icon-calendar {
    @include icon-position(2, 0);
  }

  &.icon-menu-kebab {
    @include icon-position(3, 0);
  }

  &.icon-menu-meatballs {
    @include icon-position(4, 0);
  }

  &.icon-menu-bento {
    @include icon-position(5, 0);
  }

  &.icon-loading-circle {
    @include icon-position(6, 0);
  }

  &.icon-x-red {
    @include icon-position(7, 0);
  }

  &.icon-clipboard {
    @include icon-position(8, 0);
  }

  &.icon-heart-grey {
    @include icon-position(0, 1);
  }

  &.icon-heart-red {
    @include icon-position(1, 1);
  }

  &.icon-comment-bubbles-grey {
    @include icon-position(2, 1);
  }

  &.icon-comment-bubbles {
    @include icon-position(3, 1);
  }

  &.icon-user-follow {
    @include icon-position(4, 1);
    @include icon-mixin(5, 1);
  }

  &.icon-user-unfollow {
    @include icon-position(4, 1);
    @include icon-mixin(6, 1);
  }

  &.icon-user-loading {
    @include icon-position(4, 1);
    @include icon-mixin(7, 1);
  }
}
