$black: #17111a;
$dark-red-1: #372538;
$dark-red-2: #7a213a;
$red: #e14141;
$light-red: #ffa070;
$brownish: #c44d29;
$orange: #ffbf36;
$yellow: #fff275;
$dark-brown: #753939;
$brown: #cf7957;
$light-brown: #ffd1ab;
$dark-green: #39855a;
$green: #83e04c;
$light-green: #dcff70;
$dark-blue: #243b61;
$blue: #3898ff;
$light-blue: #6eeeff;
$violet: #682b82;
$magenta: #bf3fb3;
$pink: #ff80aa;
$dark-grey-1: #3e375c;
$dark-grey-2: #7884ab;
$grey: #b2bcc2;
$white: #ffffff;
