$color-1: #17111a;
$color-2: #372538;
$color-3: #7a213a;
$color-4: #e14141;
$color-5: #ffa070;
$color-6: #c44d29;
$color-7: #ffbf36;
$color-8: #fff275;
$color-9: #753939;
$color-10: #cf7957;
$color-11: #ffd1ab;
$color-12: #39855a;
$color-13: #83e04c;
$color-14: #dcff70;
$color-15: #243b61;
$color-16: #3898ff;
$color-17: #6eeeff;
$color-18: #682b82;
$color-19: #bf3fb3;
$color-20: #ff80aa;
$color-21: #3e375c;
$color-22: #7884ab;
$color-23: #b2bcc2;
$color-24: #ffffff;
