@use "normalize.scss";
@use "assets.scss" as *;
@use "colors.scss" as *;

@font-face {
  font-family: iljushka;
  src: url("iljushka.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

.bg-xo {
  background-image: url("/assets/bg-xo.png");
  background-size: 44px;
  image-rendering: crisp-edges;
  background-position: 50% 50%;
  background-attachment: fixed;
}

.bg-yi {
  background-image: url("/assets/bg-yi.png");
  background-size: 20px;
  image-rendering: crisp-edges;
  background-position: 50% 50%;
  background-attachment: fixed;
}

.bg-retro {
  background-image: url("/assets/bg-retro.png");
  background-size: 44px;
  image-rendering: crisp-edges;
  background-position: 50% 50%;
  background-attachment: fixed;
}

:root {
  background: $dark-grey-2;
}

::selection {
  background: $grey;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  image-rendering: auto;
}

input,
textarea {
  &:invalid {
    box-shadow: none;
  }

  &::placeholder {
    color: $brownish;
  }
}

a {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
  position: relative;
  word-wrap: break-word;
  word-break: break-all;
  color: $dark-red-1;
  font-family: iljushka;
  font-size: 32px;
  line-height: 26px;
  scrollbar-width: thin;
}

#app-grid {
  margin: 8px auto;
  width: 900px;
  flex-direction: row-reverse;
  display: flex;
  gap: 8px;
}

.user-image-wrap {
  height: max-content;

  .user-image {
    position: absolute;
    width: 36px;
    height: 36px;
    display: inherit;
    background-size: cover;
    border-radius: 6px;
    top: 6px;
    left: 6px;
    background-color: $white;
    background-position: 50% 50%;
  }
}

#loading-bar {
  @include sprite;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12px;
  background-image: $loading-bar;
  animation: loading-bar 5s linear infinite;
  z-index: 99999999;
}

@keyframes loading-bar {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: 128px 0px;
  }
}

.label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: "..:";

  .label-content {
    text-shadow: 0px 2px $grey;
    margin: 0px 4px 4px 4px;
    width: 100%;

    &::after {
      content: ":";
    }
  }
}

.input {
  @include sprite;
  border: 12px solid transparent;
  border-image: $input-1;
  background-color: transparent;
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  gap: 8px;
  transition: 100ms;
  transform: translateY(0px);

  &:hover,
  &:active {
    transform: translateY(2px);
  }

  textarea,
  input {
    margin: -8px;
    padding: 4px 8px 4px 8px;
    background-color: transparent;
    flex: auto;
    width: 100%;
    border: none;
  }

  textarea {
    resize: vertical;
  }
}

.upload-item {
  display: flex;
  gap: 8px;
  align-items: center;

  img.upload-image {
    background-color: $dark-red-1;
    box-shadow: 0px 2px $dark-red-1, 2px 0px $dark-red-1, 0px -2px $dark-red-1, -2px 0px $dark-red-1;
    filter: drop-shadow(0px 2px $grey);
    object-fit: cover;
    height: 56px;
    width: 56px;
  }

  .upload-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
  }

  .upload-action {
    cursor: pointer;
  }
}

.box {
  @include sprite;
  display: block;
  width: 100%;
  border: 12px solid transparent;
  border-image: $box;
  background-color: transparent;

  .box-content,
  .box .box-content,
  header .header-content,
  footer .footer-content {
    margin: -8px;
    padding: 8px;
  }

  .button {
    @include sprite;
    padding: 0px 4px 0px 4px;
    border: 15px solid transparent;
    border-image: $button-green-1;
    display: inline-block;
    background: transparent;
    cursor: pointer;
    transition: 100ms;
    transform: translateY(0px);

    &:hover {
      animation: wiggle-vertical 400ms linear infinite;
    }

    &:active {
      animation: none;
      transform: translateY(2px);
      border-image: $button-green-2;
    }

    * {
      cursor: pointer;
    }

    .button-content {
      margin: -8px -2px -6px -2px;
      display: flex;
      padding: 2px;
    }
  }

  .title {
    text-shadow: 0px 2px $grey;
  }

  .seperator {
    display: block;
    border: 2px solid transparent;
    border-image: $seperator;
    height: 10px;
    width: calc(100% + 16px);
    margin-left: -8px;
    margin-bottom: 8px;
    margin-top: 4px;
  }
}

.wrap-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes wiggle-vertical {
  0% {
    transform: translateY(0px);
  }

  33% {
    transform: translateY(-2px);
  }

  67% {
    transform: translateY(2px);
  }

  100% {
    transform: translateY(0px);
  }
}

.post {
  position: relative;
  transition: opacity 250ms ease-out 0s;

  .title {
    display: flex;
    gap: 8px;
    align-items: center;

    .user-link {
      text-decoration: none;
      margin-left: 4px;
    }

    .datetime {
      margin-left: auto;
      align-items: center;
      display: flex;
      gap: 8px;
    }
  }

  .user-link {
    height: max-content;
  }

  .user-alias {
    color: $blue;
    margin-left: 8px;
  }

  .post-content {
    flex: 1;
    position: relative;
  }

  .user-content {
    margin: -8px;
    padding: 4px;
  }

  .comment-action {
    text-decoration: none;
  }

  .post-menu {
    margin-left: auto;

    .icon {
      cursor: pointer;
    }
  }

  + .post {
    margin-top: 8px;
  }

  .comments {
    max-height: 500px;
    overflow: auto;
    margin: -8px;
    padding: 8px;

    .comment {
      padding: 8px;
      margin: -8px;

      .top {
        display: flex;
      }

      .comment-author {
        text-shadow: 0px 2px $grey;
        margin-bottom: 4px;
        margin-right: 8px;
      }

      time::after {
        content: ":";
      }

      .box {
        .box-content {
          white-space: pre-line;
        }
      }

      .comment-flex {
        align-items: flex-start;
        gap: 8px;
        display: flex;
        width: calc(100% - 32px);
        margin: 0 auto;
      }

      .user-image {
        margin: 4px;
        width: 40px;
        height: 40px;
        box-shadow: 2px 0px $dark-red-1, 0px 2px $dark-red-1, -2px 0px $dark-red-1, 0px -2px $dark-red-1;
        filter: drop-shadow(0px 2px $grey);
        background-color: $white;
      }
    }
  }
}

.menu {
  animation: slide-vertical 250ms ease-in-out;
  position: absolute;
  width: max-content;
  z-index: 999;
  min-width: 200px;
  transform: translate(-100%, -100%);

  .menu-item {
    cursor: pointer;
    margin: 0px -8px 0px -8px;
    padding: 4px 8px 4px 8px;

    &:hover {
      background-color: $grey;
      box-shadow: inset 0px 2px $dark-grey-1, inset 0px -2px $dark-grey-1;
    }
  }
}

#content {
  flex: 1;
  width: 0px;
}

#side {
  width: 200px;
}

#navigation {
  height: max-content;

  .list {
    display: flex;
    flex-direction: column;
    gap: 4px;

    a {
      text-decoration: none;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 2px;
    }
  }
}

@keyframes loading-circle {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#notifications {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 300px;
  overflow: hidden;
  pointer-events: none;
  z-index: 2;
  margin-bottom: 8px;

  .notification-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    overflow: hidden;
    max-height: 100vh;
  }

  .notification {
    animation: notification-slide 250ms ease-in-out;
    pointer-events: all;
  }

  .notification-message {
    word-break: break-word;
  }
}

@keyframes notification-slide {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slide-vertical {
  from {
    opacity: 0;
    top: 8px;
  }

  to {
    opacity: 1;
    top: 0px;
  }
}

.mark-down {
  display: block !important;
}

.toggle-post-preview {
  position: absolute;
  bottom: 6px;
  left: -8px;

  &:hover,
  &:focus {
    animation: wiggle-vertical 400ms linear infinite;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

h1 {
  box-shadow: 0px 2px $dark-red-2, 0px 4px $grey;
  text-shadow: 0px 2px $grey;
  margin-bottom: 14px;
}

h2 {
  box-shadow: 0px 2px $dark-red-2;
  text-shadow: 0px 2px $grey;
  margin-bottom: 10px;
}

h3 {
  box-shadow: 0px 2px $dark-red-2;
  text-shadow: 0px 2px $grey;
  margin-bottom: 6px;
}

h4 {
  text-shadow: 0px 2px $grey;
  margin-bottom: 4px;
}

h5,
h6 {
  text-shadow: 0px 2px $grey;
  margin-bottom: 2px;
}

.mark-down {
  code {
    background-color: $grey;
    display: block;
    overflow: hidden;
    padding: 0px 8px 0px 0px;
    box-shadow: 2px 0px $dark-red-1, 0px 2px $dark-red-1, -2px 0px $dark-red-1, 0px -2px $dark-red-1;

    p {
      counter-increment: line;
      white-space: pre-wrap;

      &::before {
        content: counter(line);
        margin-right: 8px;
        color: $white;
        display: block;
        min-width: 24px;
        background-color: $dark-grey-2;
        padding-left: 8px;
        padding-right: 8px;
        border-right: 2px solid $dark-red-1;
        text-align: right;
      }
    }

    * {
      display: flex;
      color: inherit;
      word-wrap: break-word;
      word-break: break-word;
    }
  }

  * {
    max-width: 100%;
  }

  li {
    list-style: inside disc;
  }

  ol {
    li {
      list-style: inside decimal;
    }
  }

  p {
    code {
      padding-left: 8px;
      display: inline-block;
      white-space: pre-wrap;
    }
  }
}

[hidden],
[hidden=""],
[hidden="true"] {
  display: none !important;
  height: 0px !important;
  width: 0px !important;
  opacity: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.opacity-1 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}

#user-card {
  opacity: 1;
  transition: opacity 250ms ease-out 0s;
  width: 300px;
  height: 200px;
  pointer-events: auto;
  position: absolute;
  z-index: 99999;
}

.noscript {
  width: 500px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: fixed;

  img.logo {
    @include sprite;
    margin: 0 auto;
    display: block;
    width: 140px;
  }
}

.tooltip .tooltip-text {
  transition: opacity 250ms ease-out 0s;
  cursor: default;
  opacity: 0;
  pointer-events: none;
  background-color: $dark-red-1;
  color: $white;
  position: absolute;
  z-index: 9999;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  padding: 4px 8px 4px 8px;
  box-shadow: 2px 0px $black, 0px 2px $black, -2px 0px $black, 0px -2px $black;
  text-shadow: none;
  filter: drop-shadow(0px 2px $grey);
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tooltip:hover .tooltip-text {
  opacity: 1;
  pointer-events: unset;
}

.cursor-pointer {
  cursor: pointer;
}

.hide-mobile {
  display: unset;
}

.hide-desktop {
  display: none;
}

@media only screen and (max-width: 800px) {
  .hide-mobile {
    display: none;
  }

  .hide-desktop {
    display: unset;
  }

  #app-grid {
    margin: 0 auto;
    width: 85%;
    flex-direction: column;
    display: flex;
  }

  #side {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99999;
  }

  #content {
    width: 100%;
  }

  #navigation {
    height: max-content;

    .list {
      display: flex;
      flex-direction: row;
      gap: 4px;

      a {
        width: max-content;
      }
    }
  }
}
