/**
    Thanks to the PICO-8 team for their color palette!
    I used the hexadecimal values from: https://lospec.com/palette-list/pico-8
*/

$black: #000000;
$dark-blue: #1D2B53;
$dark-purple: #7E2553;
$dark-green: #008751;
$brown: #AB5236;
$dark-grey: #5F574F;
$light-grey: #C2C3C7;
$white: #FFF1E8;
$red: #FF004D;
$orange: #FFA300;
$yellow: #FFEC27;
$green: #00E436;
$blue: #29ADFF;
$lavender: #83769C;
$pink: #FF77A8;
$light-peach: #FFCCAA;

@font-face {
    font-family: battlenet;
    src: url("battlenet.ttf");
    font-style: normal;
    font-weight: normal;
}

:root {
    background: $lavender;
}

::selection {
    color: $white;
    background: $pink;
}

html {
    height: 100%;
}

body, html {
    margin: 0;
    width: 100%;
}

input, textarea {
    &:invalid {
        box-shadow: none;
    }

    &::placeholder {
        color: $dark-grey;
    }
}

* {
    cursor: url("svg/cursor.svg") 2 2, default !important;
    box-sizing: border-box;
    outline: none;
    padding: 0;
    margin: 0;
    position: relative;
    word-wrap: break-word;
    word-break: break-all;
    color: $black;
    font-family: battlenet;
    font-size: 32px;
    line-height: 26px;
}

#app {
    width: 800px;
    display: flex;
    gap: 10px;
    margin: 20px auto;
    flex-direction: row-reverse;
}

#router {
    &.loading {
        &::after {
            content: "";
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 12px;
            background-image: url("svg/loading.svg");
            animation: loading-bar 5s linear infinite;
            z-index: 999;
        }
    }
}

@keyframes loading-bar {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 128px 0px;
    }
}

.label {
    .label-content {
        text-shadow: 0px 2px $light-grey;
        margin: 0px 4px 4px 4px;
        display: block;

        &::after {
            content: ":";
        }
    }
}

.input {
    border: 12px solid transparent;
    border-image: url("svg/input.svg") 12 fill round;
    background-color: transparent;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    gap: 8px;
    transition: 100ms;
    transform: translateY(0px);

    &:hover, &:active {
        transform: translateY(2px);
    }

    textarea, input {
        margin: -8px;
        padding: 2px 8px 2px 8px;
        background-color: transparent;
        flex: auto;
        width: 100%;
        border: none;

        &:invalid, &[valid="false"] {
            border-image: url("svg/input-invalid.svg") 12 fill round !important;
        }
    }

    textarea {
        resize: vertical;
    }
}

.box {
    display: block;
    border: 12px solid transparent;
    border-image: url("svg/box.svg") 12 fill round;
    background-color: transparent;

    .arrow {
        background-image: url("svg/arrow-min.svg");
        position: absolute;
        display: block;
        background-repeat: no-repeat;

        &.arrow-top-left,
        &.arrow-top-right,
        &.arrow-bottom-left,
        &.arrow-bottom-right,
        &.arrow-top,
        &.arrow-bottom,
        &.arrow-left,
        &.arrow-right {
            width: 12px;
            height: 10px;
        }

        &.arrow-top,
        &.arrow-bottom,
        &.arrow-left,
        &.arrow-right {
            background-position: 0 -12px;
        }

        &.arrow-top {
            top: -15px;
            transform: rotate(90deg);
        }
        
        &.arrow-bottom {
            bottom: -15px;
            transform: rotate(-90deg);
        }
        
        &.arrow-left {
            left: -16px;
        }
        
        &.arrow-right {
            right: -16px;
            transform: rotate(180deg);
        }
        
        &.arrow-top-left {
            top: -12px;
            left: -16px;
        }
        
        &.arrow-top-right {
            top: -12px;
            right: -16px;
            transform: scaleX(-1);
        }
        
        &.arrow-bottom-left {
            bottom: -12px;
            left: -16px;
            transform: scaleY(-1);
        }
        
        &.arrow-bottom-right {
            bottom: -12px;
            right: -16px;
            transform: scaleX(-1) scaleY(-1);
        }
    }

    .box {
        border-image: url("svg/box-inner.svg") 12 fill round;
        display: inline-block;
    }

    .button {
        padding: 0px 4px 0px 4px;
        border: 12px solid transparent;
        border-image: url("svg/button-normal.svg") 12 fill round;
        display: inline-block;
        background: transparent;
        cursor: pointer;
        transition: 100ms;
        transform: translateY(0px);

        &:hover, &:focus {
            animation: wiggle-vertical 400ms linear infinite;
        }

        &:active {
            animation: none;
            transform: translateY(2px);
            border-image: url("svg/button-active.svg") 12 fill round;
        }
    
        * {
            cursor: pointer;
        }

        .button-content {
            margin: -6px 0px -4px 0px;
            display: flex;
            padding: 2px;
        } 
    }

    .title {
        text-shadow: 0px 2px $light-grey;
    }

    /* .footer, .header {
        .footer-content, .header-content {
            margin: -4px;
        }
    } */

    .seperator {
        display: block;
        border: 2px solid transparent;
        border-image: url("svg/seperator.svg") 2 fill round;
        height: 10px;
        width: calc(100% + 16px);
        margin-left: -8px;
        margin-bottom: 8px;
        margin-top: 4px;
    }
}

@keyframes wiggle-vertical {
    0% {
        transform: translateY(0px);
    }
    33% {
        transform: translateY(-2px);
    }
    67% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(0px);
    }
}

.post {
    .user-image-wrap {
        height: max-content;

        .user-image-frame {
            display: block;
            width: 48px;
            height: 48px;
            background-image: url("svg/circle-transparent.svg");
            background-size: cover;
        }

        .user-image {
            position: absolute;
            width: 40px;
            height: 40px;
            display: inherit;
            background-size: contain;
            border-radius: 12px;
            top: 4px;
            left: 4px;
            background-color: $white;
        }
    }

    .title {
        display: flex;
        gap: 8px;
        align-items: center;

        .user-link {
            text-decoration: none;
            margin-left: 4px;
        }

        .datetime {
            margin-left: auto;
        }
    }

    .user {
        .user-alias {
            color: $blue;

            &::before {
                content: "@";
            }
        }
    }

    .post-content {
        flex: 1;
        position: relative;
    }

    .post-like {
        &:hover, &:focus {
            animation: wiggle-vertical 400ms linear infinite;
        }

        &:hover {
            background-position: -32px -32px;
        }

        &:focus, &:active {
            background-position: -64px -32px;
        }
    }

    .post-menu {
        margin-left: auto;

        &:hover, &:focus {
            animation: wiggle-vertical 400ms linear infinite;
        }
    }

    + .post {
        margin-top: 8px;
    }
}

#content {
    flex: 1;
    height: max-content;
}

#navigation {
    width: 200px;
    gap: 5px;
    flex-direction: column;
    height: max-content;

    .list {
        a {
            text-decoration: none;
            width: 100%;
            transition: 250ms;
            display: block;

            span {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            + a {
                margin-top: 4px;
            }

            &:hover {
                cursor: pointer;
                box-shadow: 0px 2px $dark-grey;
            }
        }
    }
}

.loading-circle {
    position: relative;
    pointer-events: none;

    &::after {
        content: "";
        width: 32px;
        height: 32px;
        position: absolute;
        top: calc(50% - 16px);
        left: calc(50% - 16px);
        background-image: url("svg/loading-circle.svg");
        animation: loading-circle .5s steps(4) infinite;
    }
}

@keyframes loading-circle {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

#notifications {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    max-height: 100%;
    overflow: hidden;
    pointer-events: none;

    .notification-wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 8px;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .notification {
        pointer-events: all;
    }
}

@keyframes notification-slide {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.mark-down {
    display: block !important;
}

.icon {
    width: 32px;
    height: 32px;
    background-image: url("svg/icons.svg");
    background-position: 0px 0px;
    display: inline-block;

    &.icon-magnifier {
        background-position: 0px 0px;
    }

    &.icon-clock {
        background-position: -32px 0px;
    }

    &.icon-calendar {
        background-position: -64px 0px;
    }

    &.icon-menu-kebab {
        background-position: -96px 0px;
    }

    &.icon-menu-meatballs {
        background-position: -128px 0px;
    }

    &.icon-menu-bento {
        background-position: -162px 0px;
    }

    &.icon-heart-grey {
        background-position: 0px -32px;
    }

    &.icon-heart-pink {
        background-position: -32px -32px;
    }

    &.icon-heart-red {
        background-position: -64px -32px;
    }
}

.toggle-post-preview {
    position: absolute;
    bottom: -8px;
    left: -8px;
    z-index: 1;

    &:hover, &:focus {
        animation: wiggle-vertical 400ms linear infinite;
    }
}