$dark-green:  #216c4b;
$green:       #46af45;
$light-green: #a1d685;
$black:       #000000;
$dark-grey:   #191028;
$grey:        #afaab9;
$white:       #f5f4eb;
$dark-blue:   #453e78;
$blue:        #7664fe;
$light-blue:  #9ec2e8;
$dark-red:    #833129;
$red:         #dc534b;
$light-red:   #e18d79;
$dark-beige:  #d6b97b;
$beige:       #e9d8a1;
$pink:        #d365c8;

@font-face {
  font-family: battlenet;
  src: url("battlenet.woff2") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

:root {
  background: $dark-blue;
}

::selection {
  background: $dark-beige;
}

html {
  height: 100%;
}

body,
html {
  margin: 0;
  width: 100%;
}

img {
  max-width: 100%;
}

input,
textarea {
  &:invalid {
    box-shadow: none;
  }

  &::placeholder {
    color: $dark-grey;
  }
}

a {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
  position: relative;
  word-wrap: break-word;
  word-break: break-all;
  color: $black;
  font-family: battlenet;
  font-size: 32px;
  line-height: 26px;
}

#app-grid {
  margin: 8px auto;
  width: 800px;
  flex-direction: row-reverse;
  display: flex;
  gap: 10px;
}

.user-image-wrap {
  height: max-content;

  .user-image {
    position: absolute;
    width: 36px;
    height: 36px;
    display: inherit;
    background-size: cover;
    border-radius: 6px;
    top: 6px;
    left: 6px;
    background-color: $white;
    background-position: 50% 50%;
  }

  .user-image-frame {
    display: block;
    width: 48px;
    height: 48px;
    background-image: url("svg/circle-transparent.svg");
    background-position: 0px 0px;
    background-size: cover;
  }
}

header#header {
  border: 12px solid transparent;
  border-image: url("svg/header.svg") 12 fill round;
  background-color: transparent;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;

  .header-content {
    margin: -12px -12px -8px -12px;
    display: flex;
    padding: 4px;

    .header-profile {
      margin-left: auto;

      .user-image-frame {
        background-image: url("svg/circle-transparent.svg");
        background-position: 0px 0px;
      }
    }
  }
}

#loading-bar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12px;
  background-image: url("svg/loading.svg");
  animation: loading-bar 5s linear infinite;
  z-index: 999;
}

@keyframes loading-bar {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: 128px 0px;
  }
}

.label {
  .label-content {
    text-shadow: 0px 2px $grey;
    margin: 0px 4px 4px 4px;
    display: block;

    &::after {
      content: ":";
    }
  }
}

.input {
  border: 12px solid transparent;
  border-image: url("svg/input.svg") 12 fill round;
  background-color: transparent;
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  gap: 8px;
  transition: 100ms;
  transform: translateY(0px);

  &:hover,
  &:active {
    transform: translateY(2px);
  }

  textarea,
  input {
    margin: -8px;
    padding: 4px 8px 4px 8px;
    background-color: transparent;
    flex: auto;
    width: 100%;
    border: none;
  }

  textarea {
    resize: vertical;
  }
}

.box {
  display: block;
  width: 100%;
  border: 12px solid transparent;
  border-image: url("svg/box.svg") 12 fill round;
  background-color: transparent;

  .box-content, .box .box-content, header .header-content, footer .footer-content {
    margin: -8px;
    padding: 8px;
  }

  .arrow {
    background-image: url("svg/arrow-min.svg");
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;

    &.arrow-top-left {
      background-position: 0px 0px;
      top: -12px;
      left: -16px;
    }

    &.arrow-top-right {
      background-position: 0px 0px;
      transform: scaleX(-1);
      top: -12px;
      right: -16px;
    }

    &.arrow-bottom-right {
      background-position: -14px 0px;
      bottom: -14px;
      right: -16px;
      transform: scaleX(-1);
    }

    &.arrow-bottom-left {
      background-position: -14px 0px;
      bottom: -14px;
      left: -16px;
    }
  }

  .box {
    border-image: url("svg/box.svg") 12 fill round;
  }

  .button {
    padding: 0px 4px 0px 4px;
    border: 15px solid transparent;
    border-image: url("svg/button-normal.svg") 15 fill round;
    display: inline-block;
    background: transparent;
    cursor: pointer;
    transition: 100ms;
    transform: translateY(0px);

    &:hover {
      animation: wiggle-vertical 400ms linear infinite;
    }

    &:active {
      animation: none;
      transform: translateY(2px);
      border-image: url("svg/button-active.svg") 15 fill round;
    }

    * {
      cursor: pointer;
    }

    .button-content {
      margin: -8px -2px -6px -2px;
      display: flex;
      padding: 2px;
    }
  }

  .title {
    text-shadow: 0px 2px $grey;
  }

  .seperator {
    display: block;
    border: 2px solid transparent;
    border-image: url("svg/seperator.svg") 2 fill round;
    height: 10px;
    width: calc(100% + 16px);
    margin-left: -8px;
    margin-bottom: 8px;
    margin-top: 4px;
  }
}

@keyframes wiggle-vertical {
  0% {
    transform: translateY(0px);
  }

  33% {
    transform: translateY(-2px);
  }

  67% {
    transform: translateY(2px);
  }

  100% {
    transform: translateY(0px);
  }
}

.post {
  .title {
    display: flex;
    gap: 8px;
    align-items: center;

    .user-link {
      text-decoration: none;
      margin-left: 4px;
    }

    .datetime {
      margin-left: auto;
    }
  }

  .user-link {
    height: max-content;
  }

  .user-alias {
    color: $blue;
    margin-left: 8px;
}

  .post-content {
    flex: 1;
    position: relative;
  }

  .user-content {
    margin: -8px;
    padding: 4px;
  }

  .post-like {
    &.clickable {
      &:hover {
        animation: wiggle-vertical 400ms linear infinite;
      }
    }
  }

  .comment-action {
    text-decoration: none;
  }

  .post-menu {
    margin-left: auto;
  }

  +.post {
    margin-top: 8px;
  }
}

@keyframes heart-animation {
  from {
    background-position: 0px 0px;
  }

  to {
    background-position: -192px 0px;
  }
}

.menu {
  position: absolute;
  width: 200px;
  z-index: 999;

  ul {
    list-style: none;

    li {
      font-style: normal;
      display: flex;
      padding: 2px 4px 2px 4px;
      display: block;

      * {
        text-decoration: none;
      }
    }
  }
}

#content {
  flex: 1;
  height: max-content;
}

#side {
  height: max-content;
}

#navigation {
  width: 200px;
  height: max-content;

  .list {
    display: flex;
    flex-direction: column;
    gap: 4px;

    a {
      text-decoration: none;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 2px;
    }
  }
}

.loading-circle {
  position: relative;
  pointer-events: none;

  &::after {
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 16px);
    background-image: url("svg/loading-circle.svg");
    animation: loading-circle .5s steps(4) infinite;
  }
}

@keyframes loading-circle {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#notifications {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 300px;
  overflow: hidden;
  pointer-events: none;
  z-index: 2;
  margin-bottom: 8px;

  .notification-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    overflow: hidden;
    max-height: 100vh;
  }

  .notification {
    pointer-events: all;
  }

  .notification-message {
    word-break: break-word;
  }
}

@keyframes notification-slide {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.mark-down {
  display: block !important;
}

.icon {
  width: 32px;
  height: 32px;
  background-image: url("svg/icons.svg");
  background-position: 0px 0px;
  display: inline-block;

  &.icon-magnifier {
    background-position: 0px 0px;
  }

  &.icon-clock {
    background-position: -32px 0px;
  }

  &.icon-calendar {
    background-position: -64px 0px;
  }

  &.icon-menu-kebab {
    background-position: -96px 0px;
  }

  &.icon-menu-meatballs {
    background-position: -128px 0px;
  }

  &.icon-menu-bento {
    background-position: -162px 0px;
  }

  &.icon-heart-grey {
    background-position: 0px -32px;
  }

  &.icon-heart-red {
    background-position: -32px -32px;
  }

  &.icon-comment-bubbles-grey {
    background-position: -64px -32px;
  }

  &.icon-comment-bubbles {
    background-position: -96px -32px;
  }
}

.toggle-post-preview {
  position: absolute;
  bottom: -8px;
  left: -8px;
  z-index: 1;

  &:hover,
  &:focus {
    animation: wiggle-vertical 400ms linear infinite;
  }
}

.mark-down {
  code {
    background-color: $grey;
    display: block;
    overflow: hidden;
    padding: 0px 8px 0px 0px;
    box-shadow: 2px 0px $black, 0px 2px $black, -2px 0px $black, 0px -2px $black;

    p {
      counter-increment: line;

      &::before {
        content: counter(line);
        margin-right: 8px;
        color: $black;
        display: block;
        min-width: 24px;
        background-color: $dark-grey;
        padding-left: 8px;
        padding-right: 8px;
        border-right: 2px solid $black;
        text-align: right;
      }
    }

    * {
      display: flex;
      color: inherit;
      word-wrap: break-word;
      word-break: break-word;
    }
  }

  * {
    max-width: 100%;
  }

  li {
    list-style: inside disc;
  }

  ol {
    li {
      list-style: inside decimal;
    }
  }

  p {
    white-space: pre-wrap;

    code {
      padding-left: 8px;
      display: inline-block;
    }
  }
}

[hidden],
[hidden=""],
[hidden="true"] {
  display: none !important;
  height: 0px !important;
  width: 0px !important;
  opacity: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}