/**
    Thanks to the PICO-8 team for their color palette!
    I used the hexadecimal values from: https://lospec.com/palette-list/pico-8
*/
@font-face {
  font-family: battlenet;
  src: url("battlenet.ttf");
  font-style: normal;
  font-weight: normal;
}
:root {
  background: #83769C;
}

::selection {
  color: #FFF1E8;
  background: #FF77A8;
}

html {
  height: 100%;
}

body,
html {
  margin: 0;
  width: 100%;
}

img {
  max-width: 100%;
}

*,
.cursor-default {
  cursor: url("svg/cursor-default.svg") 3 3, default !important;
}

input,
textarea,
.cursor-text {
  cursor: url("svg/cursor-text.svg") 3 3, default !important;
}
input:invalid,
textarea:invalid,
.cursor-text:invalid {
  box-shadow: none;
}
input::placeholder,
textarea::placeholder,
.cursor-text::placeholder {
  color: #5F574F;
}

a,
button,
.cursor-pointer {
  cursor: url("svg/cursor-hover.svg") 3 3, default !important;
}

.cursor-disabled,
:disabled {
  cursor: url("svg/cursor-disabled.svg") 3 3, default !important;
}

.cursor-active:active,
:any-link {
  cursor: url("svg/cursor-active.svg") 3 3, default !important;
}

.cursor-ns-resize {
  cursor: url("svg/cursor-ns-resize.svg") 3 3, default !important;
}

* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
  position: relative;
  word-wrap: break-word;
  word-break: break-all;
  color: #000000;
  font-family: battlenet;
  font-size: 32px;
  line-height: 26px;
}

#app-grid {
  margin: 8px auto;
  width: 800px;
  flex-direction: row-reverse;
  display: flex;
  gap: 10px;
}

.user-image-wrap {
  height: max-content;
}
.user-image-wrap .user-image {
  position: absolute;
  width: 36px;
  height: 36px;
  display: inherit;
  background-size: cover;
  border-radius: 6px;
  top: 6px;
  left: 6px;
  background-color: #FFF1E8;
  background-position: 50% 50%;
}
.user-image-wrap .user-image-frame {
  display: block;
  width: 48px;
  height: 48px;
  background-image: url("svg/circle-transparent.svg");
  background-size: cover;
}

header#header {
  border: 12px solid transparent;
  border-image: url("svg/header.svg") 12 fill round;
  background-color: transparent;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
}
header#header .header-content {
  margin: -8px 0px -4px 0px;
  display: flex;
}
header#header .header-content .header-profile {
  margin-left: auto;
}
header#header .header-content .header-profile .user-image-frame {
  background-image: url("svg/circle-transparent-header.svg");
}

#loading-bar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12px;
  background-image: url("svg/loading.svg");
  animation: loading-bar 5s linear infinite;
  z-index: 999;
}

@keyframes loading-bar {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 128px 0px;
  }
}
.label .label-content {
  text-shadow: 0px 2px #C2C3C7;
  margin: 0px 4px 4px 4px;
  display: block;
}
.label .label-content::after {
  content: ":";
}

.input {
  border: 12px solid transparent;
  border-image: url("svg/input.svg") 12 fill round;
  background-color: transparent;
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  gap: 8px;
  transition: 100ms;
  transform: translateY(0px);
}
.input:hover, .input:active {
  transform: translateY(2px);
}
.input textarea,
.input input {
  margin: -8px;
  padding: 2px 8px 2px 8px;
  background-color: transparent;
  flex: auto;
  width: 100%;
  border: none;
}
.input textarea {
  resize: vertical;
}

.box {
  display: block;
  width: 100%;
  border: 12px solid transparent;
  border-image: url("svg/box.svg") 12 fill round;
  background-color: transparent;
}
.box .arrow {
  background-image: url("svg/arrow-min.svg");
  position: absolute;
  display: block;
  background-repeat: no-repeat;
}
.box .arrow.arrow-top-left, .box .arrow.arrow-top-right, .box .arrow.arrow-bottom-left, .box .arrow.arrow-bottom-right, .box .arrow.arrow-top, .box .arrow.arrow-bottom, .box .arrow.arrow-left, .box .arrow.arrow-right {
  width: 12px;
  height: 10px;
}
.box .arrow.arrow-top, .box .arrow.arrow-bottom, .box .arrow.arrow-left, .box .arrow.arrow-right {
  background-position: 0 -12px;
}
.box .arrow.arrow-top {
  top: -15px;
  transform: rotate(90deg);
}
.box .arrow.arrow-bottom {
  bottom: -15px;
  transform: rotate(-90deg);
}
.box .arrow.arrow-left {
  left: -16px;
}
.box .arrow.arrow-right {
  right: -16px;
  transform: rotate(180deg);
}
.box .arrow.arrow-top-left {
  top: -12px;
  left: -16px;
}
.box .arrow.arrow-top-right {
  top: -12px;
  right: -16px;
  transform: scaleX(-1);
}
.box .arrow.arrow-bottom-left {
  bottom: -12px;
  left: -16px;
  transform: scaleY(-1);
}
.box .arrow.arrow-bottom-right {
  bottom: -12px;
  right: -16px;
  transform: scaleX(-1) scaleY(-1);
}
.box .box {
  border-image: url("svg/box-inner.svg") 12 fill round;
}
.box .button {
  padding: 0px 4px 0px 4px;
  border: 15px solid transparent;
  border-image: url("svg/button-normal.svg") 15 fill round;
  display: inline-block;
  background: transparent;
  cursor: pointer;
  transition: 100ms;
  transform: translateY(0px);
}
.box .button:hover, .box .button:focus {
  animation: wiggle-vertical 400ms linear infinite;
}
.box .button:active {
  animation: none;
  transform: translateY(2px);
  border-image: url("svg/button-active.svg") 15 fill round;
}
.box .button * {
  cursor: pointer;
}
.box .button .button-content {
  margin: -8px -2px -6px -2px;
  display: flex;
  padding: 2px;
}
.box .title {
  text-shadow: 0px 2px #C2C3C7;
}
.box .seperator {
  display: block;
  border: 2px solid transparent;
  border-image: url("svg/seperator.svg") 2 fill round;
  height: 10px;
  width: calc(100% + 16px);
  margin-left: -8px;
  margin-bottom: 8px;
  margin-top: 4px;
}

@keyframes wiggle-vertical {
  0% {
    transform: translateY(0px);
  }
  33% {
    transform: translateY(-2px);
  }
  67% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px);
  }
}
.post {
  animation: wiggle-vertical 250ms linear 1;
}
.post .title {
  display: flex;
  gap: 8px;
  align-items: center;
}
.post .title .user-link {
  text-decoration: none;
  margin-left: 4px;
}
.post .title .datetime {
  margin-left: auto;
}
.post .user-link {
  height: max-content;
}
.post .user .user-alias {
  color: #29ADFF;
}
.post .user .user-alias::before {
  content: "@";
}
.post .post-content {
  flex: 1;
  position: relative;
}
.post .post-like.clickable:hover {
  animation: wiggle-vertical 400ms linear infinite;
  background-position: -32px -32px;
}
.post .comment-action {
  text-decoration: none;
}
.post .post-menu {
  margin-left: auto;
}
.post + .post {
  margin-top: 8px;
}

@keyframes heart-animation {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -192px 0px;
  }
}
.menu {
  position: absolute;
  width: 200px;
  z-index: 999;
}
.menu ul {
  list-style: none;
}
.menu ul li {
  font-style: normal;
  display: flex;
  /* overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; */
  padding: 2px 4px 2px 4px;
  display: block;
}
.menu ul li * {
  text-decoration: none;
}

#content {
  flex: 1;
  height: max-content;
}

nav#navigation {
  width: 200px;
  height: max-content;
}
nav#navigation .list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
nav#navigation .list a {
  text-decoration: none;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 2px;
}

.loading-circle {
  position: relative;
  pointer-events: none;
}
.loading-circle::after {
  content: "";
  width: 32px;
  height: 32px;
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% - 16px);
  background-image: url("svg/loading-circle.svg");
  animation: loading-circle 0.5s steps(4) infinite;
}

@keyframes loading-circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#notifications {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 300px;
  overflow: hidden;
  pointer-events: none;
  z-index: 2;
  margin-bottom: 8px;
}
#notifications .notification-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  overflow: hidden;
  max-height: 100vh;
}
#notifications .notification {
  pointer-events: all;
}
#notifications .notification-message {
  word-break: break-word;
}

@keyframes notification-slide {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.mark-down {
  display: block !important;
}

.icon {
  width: 32px;
  height: 32px;
  background-image: url("svg/icons.svg");
  background-position: 0px 0px;
  display: inline-block;
}
.icon.icon-magnifier {
  background-position: 0px 0px;
}
.icon.icon-clock {
  background-position: -32px 0px;
}
.icon.icon-calendar {
  background-position: -64px 0px;
}
.icon.icon-menu-kebab {
  background-position: -96px 0px;
}
.icon.icon-menu-meatballs {
  background-position: -128px 0px;
}
.icon.icon-menu-bento {
  background-position: -162px 0px;
}
.icon.icon-heart-grey {
  background-position: 0px -32px;
}
.icon.icon-heart-pink {
  background-position: -32px -32px;
}
.icon.icon-heart-red {
  background-position: -64px -32px;
}
.icon.icon-comment-bubbles-grey {
  background-position: -96px -32px;
}
.icon.icon-comment-bubbles {
  background-position: -128px -32px;
}

.toggle-post-preview {
  position: absolute;
  bottom: -8px;
  left: -8px;
  z-index: 1;
}
.toggle-post-preview:hover, .toggle-post-preview:focus {
  animation: wiggle-vertical 400ms linear infinite;
}

.mark-down code {
  background-color: #C2C3C7;
  display: block;
  overflow: hidden;
  padding: 0px 8px 0px 0px;
  box-shadow: 2px 0px #000000, 0px 2px #000000, -2px 0px #000000, 0px -2px #000000;
}
.mark-down code p {
  counter-increment: line;
}
.mark-down code p::before {
  content: counter(line);
  margin-right: 8px;
  color: #000000;
  display: block;
  min-width: 24px;
  background-color: #5F574F;
  padding-left: 8px;
  padding-right: 8px;
  border-right: 2px solid #000000;
  text-align: right;
}
.mark-down code * {
  display: flex;
  color: inherit;
  word-wrap: break-word;
  word-break: break-word;
}
.mark-down * {
  max-width: 100%;
}
.mark-down li {
  list-style: inside disc;
}
.mark-down ol li {
  list-style: inside decimal;
}
.mark-down p {
  white-space: pre-wrap;
}
.mark-down p code {
  padding-left: 8px;
  display: inline-block;
}

[hidden],
[hidden=""],
[hidden=true] {
  display: none !important;
}

/*# sourceMappingURL=main.css.map */
